---
layout: home
screenshots:
  -
    title: User available machines
    image: /images/features/available.png
    description:
      - Providing the ability for the user to access multiple VM pools.
  -
    title: Admin list machines
    image: /images/features/listVM.png
    description:
      - Providing admin role for manage VM pools.
  -
    title: Machine manage
    image: /images/features/VM.png
  -
    title: Machine UP
    image: /images/features/VMup.png
  -
    title: User Settings
    image: /images/features/user_settings.png
    description:
      - SQL and LDAP authentication are supported.
      - Language detected based on browser preference. It can be changed by the user.
  -
    title: New machine template
    image: /images/features/newVM.png
    description:
      - Providing the ability for the admin user to manage VM from templates.
---

<div class="parallax">

  {% include home/about.html %}

  {% include home/features.html %}

  {% include home/getting-started.html %}

  {% include home/developers.html %}

  {% include home/end-section.html %}

</div>
