$theme-primary: #e86b0a;
$theme-lighter-alt: #fef9f4;
$theme-lighter: #fbe5d5;
$theme-light: #f8d0b1;
$theme-tertiary: #f1a266;
$theme-secondary: #eb7a24;
$theme-dark-alt: #d15f08;
$theme-dark: #b05007;
$theme-darker: #823b05;
$neutral-lighter-alt: #f8f8f8;
$neutral-lighter: #f4f4f4;
$neutral-light: #eaeaea;
$neutral-quaternary-alt: #dadada;
$neutral-quaternary: #d0d0d0;
$neutral-tertiary-alt: #c8c8c8;
$neutral-tertiary: #c2c2c2;
$neutral-secondary: #858585;
$neutral-primary-alt: #4b4b4b;
$neutral-primary: #333;
$neutral-dark: #272727;
$black: #1d1d1d;
$white: #fff;
$body-background: #fff;
$body-text: #333;

$irc: #2f7590;
$telegram: #00a2d9;
$facebook: #3b5998;
$twitter: #55acee;
$google-plus: #dd4b39;
$google-group: #4561da;
$pinterest: #cb2027;
$tumblr: #32506d;
$reddit: #ff4500;
$linkedin: #007bb5;
$email: #444;
