$theme-primary: #007bc0;
$theme-lighter-alt: #f2f9fc;
$theme-lighter: #cee6f5;
$theme-light: #a5d2ec;
$theme-tertiary: #57a9d9;
$theme-secondary: #1887c7;
$theme-dark-alt: #006dac;
$theme-dark: #005c91;
$theme-darker: #00446b;
$neutral-lighter-alt: #f8f8f8;
$neutral-lighter: #f4f4f4;
$neutral-light: #eaeaea;
$neutral-quaternary-alt: #dadada;
$neutral-quaternary: #d0d0d0;
$neutral-tertiary-alt: #c8c8c8;
$neutral-tertiary: #c2c2c2;
$neutral-secondary: #858585;
$neutral-primary-alt: #4b4b4b;
$neutral-primary: #333;
$neutral-dark: #272727;
$black: #1d1d1d;
$white: #fff;
$body-background: #fff;
$body-text: #333;

$facebook: #3b5998;
$twitter: #55acee;
$google: #dd4b39;
$pinterest: #cb2027;
$tumblr: #32506d;
$reddit: #ff4500;
$linkedin: #007bb5;
$email: #444;
