<div class="jumbotron theme-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-24 text-center">
        <h3 class="h--without-padding">RAVADA VDI PROJECT</h3>

        <div class="col-md-12 col-md-offset-6">
          <div class="type-p3">Free, easy-to-use & deploy VDI solution</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron theme-default">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-push-12 text-center">
        <img
          class="img-responsive visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block visible-xl-inline-block"
          alt="RAVADA"
          src="images/logo3.png"
          data-source-index="2"
        >
      </div>

      <div class="col-md-12 col-md-pull-12">
        <h3>
          ABOUT
        </h3>

        <p>
          Ravada is an open-source project that allows users
          to connect to a virtual desktop.
          It is a <b>VDI broker</b>.
        </p>

        <p>
          Its back-end has been designed and implemented in
          order to allow future hypervisors to be added to
          the framework. Currently it supports KVM and
          LXC is in the works.
        </p>

        <p>
          The only requirements are: a web-browser and
          a remote viewer supporting the spice protocol.
        </p>

        <h4>
          Ravada delivers:
        </h4>

        <p>
          Following the <a href='http://ravada.rtfd.io/'>documentation</a>*,
          you'll be ready to deploy a virtual machine in
          minutes. For more information, follow
          <a href='#getting-started'>get started</a>.
        </p>

        <p>
          *Also available in
          <a href='http://readthedocs.org/projects/ravada/downloads/pdf/latest/'>PDF</a>
          and <a href='http://readthedocs.org/projects/ravada/downloads/epub/latest/'>EPUB</a>.
        </p>

        <h4>
          Who is Ravada meant for ?
        </h4>

        <p>
          Ravada is meant for sysadmins who have some
          background in GNU/Linux, and want to deploy a
          VDI project.
        </p>

        <p>
          Get started on VDI, without reinvent the wheel.
        </p>
      </div>
    </div>
  </div>
</div>
