<div class="jumbotron theme-dark">
  <div class="container text-center">
    <div class="row">
      <h3 class="h--without-padding">RAVADA VDI PROJECT</h3>

      <p>
        Free, easy-to-use & deploy VDI solution
      </p>
    </div>
  </div>
</div>

<div class="jumbotron theme-default">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-push-16 text-center">
        <img
          alt="RAVADA"
          src="images/logo3.png"
        >
      </div>

      <div class="col-md-16 col-md-pull-8">
        <h3>
          ABOUT
        </h3>

        <p>
          Ravada is an open-source project that allows users
          to connect to a virtual desktop.
          It is a <b>VDI broker</b>.
        </p>

        <p>
          Its back-end has been designed and implemented in
          order to allow future hypervisors to be added to
          the framework. Currently it supports KVM and
          LXC is in the works.
        </p>

        <p>
          The only requirements are: a web-browser and
          a remote viewer supporting the spice protocol.
        </p>

        <h4>
          Who is Ravada meant for ?
        </h4>

        <p>
          Ravada is meant for sysadmins who have some
          background in GNU/Linux, and want to deploy a
          VDI project.
        </p>

        <p>
          Get started on VDI, without reinvent the wheel.
        </p>
      </div>
    </div>
  </div>
</div>
