<div class="jumbotron theme-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-24 text-center">
        <h3>RAVADA VDI PROJECT</h3>

        <div class="col-md-12 col-md-offset-6">
          <div class="type-p3">Free, easy-to-use & deploy VDI solution</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron theme-default">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-push-12 text-center">
        <img
          class="img-responsive visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block visible-xl-inline-block"
          alt="Flyve"
          src="images/logo3.png"
          data-source-index="2"
        >
      </div>

      <div class="col-md-12 col-md-pull-12">
        <div class="type-h3">
          ABOUT
        </div>
        <p>
          Ravada is an open-source project that allows users
          to connect to a virtual desktop.
          It is a <b>VDI broker</b>.
          <br><br>
          Its back-end has been designed and implemented in
          order to allow future hypervisors to be added to
          the framework. Currently it supports KVM and
          LXC is in the works.
          <br><br>
          The only requirements are: a web-browser and
          a remote viewer supporting the spice protocol.
        </p>
        <p>
          <b>Ravada delivers:</b>
          <br><br>
          Following the <a href='#'><b>documentation</b></a>*,
          you'll be ready to deploy a virtual machine in
          minutes. For more information, follow
          <a href='#'><b>get started</b></a>.
          <br><br>
          *Also available in <a href='#'><b>PDF</b></a> and
          <a href='#'><b>EPUB</b></a>.
        </p>
        <p>
          <b>Who is Ravada meant for?:</b>
          <br><br>
          Ravada is meant for sysadmins who have some
          background in GNU/Linux, and want to deploy a
          VDI project.
          <br><br>
          Get started on VDI, without reinvent the wheel.
        </p>
      </div>
    </div>
  </div>
</div>
