<div class="jumbotron theme-light">
  <div class="text-subtitles">
    <h3>
      <b>DEVELOPERS</b>
    </h3>
  </div>

  <div class="container">
    <div class="developers-container">
      <i class="fas fa-5x fa-cogs" alt="Flyve"></i>

      <h3>
        <b>PERL</b>
      </h3>

      <p class="type-p2 p-size2">
        We're proud to program it in
        <a href='#'><b>Perl</b></a>.
      </p>

      <p class="type-p2 p-size2">
        Perl 5 is a highly capable,
        feature-rich programming language
        with over 30 years of development.
        <a href='#'><b>More about why we love Perl...</b></a>
      </p>
    </div>

    <div class="developers-container">
      <i class="fas fa-5x fa-random" alt="Flyve"></i>

      <h3>
        <b>WEB FRAMEWORK</b>
      </h3>

      <p class="type-p2 p-size2">
        We use <a href='#'><b>Mojolicious</b></a>,
        an amazing real-time web framework,
        allowing you to easily grow single file prototypes into well-structured MVC web applications.
      </p>
    </div>

    <div class="developers-container">
      <i class="fas fa-5x fa-database" alt="Flyve"></i>

      <h3>
        <b>DATA MODELING</b>
      </h3>

      <p class="type-p2 p-size2">
        We use <a href='#'><b>MySQL</b></a>.
        It's the world's most popular open
        source database. With its proven
        performance, reliability, and
        ease-of-use.
      </p>
    </div>

    <div class="developers-container">
      <i class="fas fa-5x fa-language" alt="Flyve"></i>

      <h3>
        <b>INTERNATIONALIZATION (i18n)</b>
      </h3>

      <p class="type-p2 p-size2">
        We use <a href='#'><b>Transifex</b></a>
        to provide a cleaner and easy to use
        interface for translators.
      </p>

      <p class="type-p2 p-size2">
        It's meant for adapting applications
        and text to enable their usability in
        a particular cultural or linguistic
        market.
      </p>
    </div>

    <div class="developers-container">
      <i class="fab fa-5x fa-github" alt="Flyve"></i>

      <h3>
        <b>GITHUB</b>
      </h3>

      <p class="type-p2 p-size2">
        We use Git as a version control system
        for tracking changes in computer files
        and coordinating work on those files
        among our <a href='#'><b>team</b></a>.
        You're invited to contribute!
      </p>

      <p class="type-p2 p-size2">
        Our code is licensed with
        <a href='#'><b>AGPL</b></a>
        and is available in
        <a href='#'><b>Github</b></a>.
      </p>
    </div>

    <div class="developers-container">
      <i class="fas fa-5x fa-rocket" alt="Flyve"></i>

      <h3>
        <b>A LOT OF FREE SOFTWARE</b>
      </h3>

      <p class="type-p2 p-size2">
        We use a lot of powerful free source
        like <a href='#'><b>GNU</b></a>
        /Linux <a href='#'><b>Ubuntu</b></a>,
        <a href='#'><b>KVM</b></a>,
        <a href='#'><b>Libvirt</b></a>
        or <a href='#'><b>Spice</b></a>,
        among others. Responsive web made with
        <a href='#'><b>Bootstrap</b></a>
        and <a href='#'><b>AngularJS</b></a>.
      </p>
    </div>
  </div>
</div>
