<div class="jumbotron theme-dark">
  <div class="container">
    <div class="row">
      <div class="around-the-web">
        <div class="type-h4">
          <b>AROUND THE WEB</b>
        </div>

        <a href="#" class="btn-social btn-outline">
          <i class="fab fa-2x fa-twitter"></i>
        </a>

        <a href="#" class="btn-social btn-outline">
          <i class="fab fa-2x fa-github"></i>
        </a>

        <a href="#" class="btn-social btn-outline">
          <i class="fas fa-2x fa-envelope"></i>
        </a>
      </div>

      <div class="about-ravada">
        <div class="type-h4">
          <b>ABOUT RAVADA</b>
        </div>

        <p class="type-p1"><b>
          Ravada is a free to use open source VDI project.
        </b></p>

        <a href='#'></a>
        <a href='#'></a>
        <a href='#'></a>

        <p class="type-p1">
          Thanks to ¿¿¿??? them created by
          <a href='#'><b>¿¿¿???</b></a>, Camel in our
          logo by <a href='#'><b>¿¿¿???</b></a>
          and Monitor icon by <a href='#'><b>¿¿¿???</b></a>.
          Both with <a href='#'></a>
        </p>
      </div>
    </div>
  </div>
</div>
