<div class="jumbotron theme-dark end-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 end-section__around-the-web">
        <h4>
          <b>AROUND THE WEB</b>
        </h4>

        <a href="#" class="btn-primary">
          <i class="fab fa-2x fa-telegram-plane"></i>
        </a>

        <a href="#" class="btn-primary">
          <i class="fab fa-2x fa-twitter"></i>
        </a>

        <a href="#" class="btn-primary">
          <i class="fab fa-2x fa-github"></i>
        </a>

        <a href="#" class="btn-primary">
          <i class="fas fa-2x fa-envelope"></i>
        </a>
      </div>

      <div class="col-md-12 end-section__about-ravada">
        <h4>
          <b>ABOUT RAVADA</b>
        </h4>

        <p>
          Ravada is a free to use open source VDI project
        </p>
        <p>
          Thanks to Teclib' for their contribution redesigning the project site, images and icons
        </p>
      </div>
    </div>
  </div>
</div>
