<div class="jumbotron theme-dark text-center">
  <div class="container">
    <h3 class="h--without-padding">GET HELP WITH RAVADA</h3>
  </div>
</div>

<div class="jumbotron theme-default get-help">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12 get-help__card">
        <i class="fas fa-5x fa-question"></i>

        <h4>
          <a href='#'>USING RAVADA</a>
        </h4>

        <p>
          I need help using Ravada for my project.
        </p>
      </div>

      <div class="col-sm-12 get-help__card">
        <i class="fas fa-5x fa-bug"></i>

        <h4>
          <a href='#'>BUG REPORTING</a>
        </h4>

        <p>
          I think I found a bug in the code.
        </p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-sm-12 get-help__card">
        <i class="fas fa-5x fa-lightbulb"></i>

        <h4>
          <a href='#'>FEATURE REQUEST</a>
        </h4>

        <p>
          I have a suggestion for how Ravada
          could be improved.
        </p>
      </div>

      <div class="col-sm-12 get-help__card">
        <i class="fas fa-5x fa-puzzle-piece"></i>

        <h4>
          <a href='#'>CONTRIBUTING</a>
        </h4>

        <p>
          Information useful if you want to work
          on the Ravada core development.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron theme-light">
  <div class="container">
    <div>
      <h3 class="h--without-padding"> HAVE YOU INSTALLED RAVADA? </h3>

      <p>
        Glad to hear! Drop us a <a href='#'><b>line</b></a>,
        <a href='#'><b>tweet</b></a>, <a href='#'><b>telegram</b></a>
        or <a href='#'><b>star</b></a> in github.
      </p>

      <p>
        Tell us if you need <a href='#'><b>assistance</b></a>.
      </p>
    </div>
  </div>
</div>
