<div class="get-help">
  <div class="jumbotron theme-dark text-center">
    <div class="container">
      <h3 class="h--without-padding">GET HELP WITH RAVADA</h3>
    </div>
  </div>

  <div class="jumbotron theme-default">
    <div class="container">
      <div class="row row-eq-height">
        <div class="col-xs-24 col-sm-4 col-sm-push-20 get-help__image">
          <i class="fas fa-5x fa-lightbulb"></i>
        </div>

        <div class="col-sm-20 col-sm-pull-4">
          <h3 class="h--without-padding">
            Building your VDI with Ravada
          </h3>
          <p>
            In our documentation we explain everything you need to deploy
            a virtual machine in minutes. Be sure to check the installation
            and troubleshooting pages.
          </p>
          <p>
            In case you find a bug or come up with a feature,
            we provide a guideline on GitHub for submitting issues
            and features request.
          </p>
          <a
            href="{{ site.github.repository_url }}/blob/master/CONTRIBUTING.md"
            class="btn btn-primary"
          >
            Guideline
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron theme-light">
    <div class="container">
      <div class="row row-eq-height">
        <div class="col-xs-24 col-sm-4 col-sm-push-20 get-help__image">
          <i class="fas fa-5x fa-code"></i>
        </div>

        <div class="col-sm-20 col-sm-pull-4">
          <h3 class="h--without-padding">
            Development
          </h3>
          <p>
              You want to contribute with the code? Excellent!
              Just follow our developer’s documentation,
              here you’ll find all the advices and configurations
              you need to do to start implementing your changes
              to the project
          </p>
          <a
            href="https://ravada.readthedocs.io/en/latest/index.html#dev-docs"
            class="btn btn-primary"
          >
            Contributing
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
