<div class="jumbotron theme-default">
  <div class="text-subtitles">
    <h3>
      <b>GET HELP WITH RAVADA</b>
    </h3>
  </div>

  <div class="container">
    <div class="help-container">
      <i class="fas fa-5x fa-question" alt="Flyve"></i>

      <h3>
        <a href='#'><b>USING RAVADA</b></a>
      </h3>

      <p class="type-p2 p-size2">
        I need help using Ravada for my project.
      </p>
    </div>

    <div class="help-container">
      <i class="fas fa-5x fa-bug" alt="Flyve"></i>

      <h3>
        <a href='#'><b>BUG REPORTING</b></a>
      </h3>

      <p class="type-p2 p-size2">
        I think I found a bug in the code.
      </p>
    </div>

    <div class="help-container">
      <i class="fas fa-5x fa-lightbulb" alt="Flyve"></i>

      <h3>
        <a href='#'><b>FEATURE REQUEST</b></a>
      </h3>

      <p class="type-p2 p-size2">
        I have a suggestion for how Ravada
        could be improved.
      </p>
    </div>

    <div class="help-container">
      <i class="fas fa-5x fa-puzzle-piece" alt="Flyve"></i>

      <h3>
        <a href='#'><b>CONTRIBUTING</b></a>
      </h3>

      <p class="type-p2 p-size2">
        Information useful if you want to work
        on the Ravada core development.
      </p>
    </div>

    <div class="help-text">
      <h3>
        <b>HAVE YOU INSTALLED RAVADA?</b>
      </h3>

      <p class="type-p2 p-size2">
        Glad to hear! Drop us a <a href='#'><b>line</b></a>,
        <a href='#'><b>tweet</b></a>, <a href='#'><b>telegram</b></a>
        or <a href='#'><b>star</b></a> in github.
      </p>

      <p class="type-p2 p-size2">
        Tell us if you need <a href='#'><b>assistance</b></a>.
      </p>
    </div>
  </div>
</div>
