<div id="getting-started" class="jumbotron theme-default getting-started">
  <div class="container">
    <h3 class="h--without-padding">
      GETTING STARTED
    </h3>

    <div class="row">
      <div class="col-md-8">
        <a
          href='http://ravada.readthedocs.io/en/latest/docs/INSTALL.html'
          class="btn-primary"
        >
          <i class="far fa-3x fa-check-square"></i>
          <br>
          Requirements and Installation
        </a>
      </div>

      <div class="col-md-8">
        <a
          href='http://ravada.readthedocs.io/en/latest/docs/troubleshooting.html'
          class="btn-primary"
        >
          <i class="far fa-3x fa-life-ring"></i>
          <br>
          Troubleshooting
        </a>
      </div>

      <div class="col-md-8">
        <a
          href='http://ravada.readthedocs.io/en/latest/devel-docs/development_tools.html'
          class="btn-primary"
        >
          <i class="fas fa-3x fa-puzzle-piece"></i>
          <br>
          Contributing the Code
        </a>
      </div>
    </div>
  </div>
</div>
