<div class="jumbotron theme-default">
  <div class="text-subtitles">
    <h3>
      <b>GETTING STARTED</b>
    </h3>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <a href='#' class="images-started btn-primary">
          <i class="far fa-3x fa-check-square" alt=""></i>
          <br>
          Requirements and Installation
        </a>
      </div>

      <div class="col-lg-8">
        <a href='#' class="images-started btn-primary">
          <i class="far fa-3x fa-life-ring" alt=""></i>
          <br>
          Troubleshooting
        </a>
      </div>

      <div class="col-lg-8">
        <a href='#' class="images-started btn-primary">
          <i class="fas fa-3x fa-puzzle-piece" alt=""></i>
          <br>
          Contributing the Code
        </a>
      </div>
    </div>
  </div>
</div>
